.btn {
  display: block;
}

.btn--primary {
  padding: 0.5rem 1rem;
  background-color: var(--clr-primary);
  color: var(--clr-white);
  text-decoration: none;
  border-radius: 999px;
  font-size: 1.25rem;

  cursor: pointer;
  transition: 150ms;

  &:hover {
    opacity: 0.6;
  }
}
