.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

main section{
    border: 2px solid red;
}

.draggable-input{
    padding: 1rem;
    border: 1px solid #ececec;
    margin-bottom: 1rem;
    cursor: move;
    display: flex;
    background-color: #ececec;
}

.sortable-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

aside{
    border: 1px solid blue;
}

.right .draggable-input::after{
    content: "X";
    display: block;
    text-align: center;
    color: #fff;
    width: 20px;
    height: 20px;
    background-color: red;
    opacity: 0;
    cursor: pointer;
    transition: all 0.3s;
}

.right .draggable-input:hover::after{
    opacity: 1;
}

.form-group .input-wrapper{
    display: flex;
    align-items: center;
}

.edit-options{
    margin-left: 10px;
    cursor: pointer;
    color: blue;
}

.options-container{
    display: none;
    margin-top: 10px;
}

.options-container.visible{
    display: block;
}

.options-container input[type="text"]{
    display: block;
    margin-bottom: 5px;
}

.right-section{
  min-height: 500px;
}
