package components

templ form(attrs templ.Attributes) {
	<form { attrs... }>
		{ children... }
		<button type="submit">Continue</button>
	</form>
}

templ hiddenInput(name, value string) {
	<input type="hidden" name={ name } value={ value }/>
}
