package components

templ form(attrs templ.Attributes) {
	<form { attrs... }>
		{ children... }
		<button class="btn" type="submit">Save</button>
	</form>
}

templ hiddenInput(name, value string) {
	<input type="hidden" name={ name } value={ value }/>
}

templ input(attrs templ.Attributes) {
	<input { attrs... } class=""/>
}

templ textArea(attrs templ.Attributes) {
	<textarea { attrs... } class=""></textarea>
}
