.flash_error {
  background-color: red;
}

.flash_warning {
  background-color: orange;
}

.flash_info {
  background-color: gray;
}

.flash_success {
  background-color: green;
}

.flash {
    color: blue;
}
